- content_for :title do
  Projects

%h1 Projects
%p
  <i class="icon-file"></i>
  =link_to "New project", new_project_path
- @projects.each do |project|
  %section.project.well
    %h2= link_to project.name, plans_path(:project=>project)
    %div.actions
      %span.plans
        <i class="icon-list"></i>
        =link_to 'Plans', plans_path(:project=>project)
      %span.edit
        <i class="icon-pencil"></i>
        =link_to 'Edit', edit_project_path(project)
      %span.delete
        <i class="icon-remove"></i>
        =link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }
    %div.description
      %p="#{project.name} has #{project.plans.size} plans"

